nav{
  background-color: #000000;
  color: white;
}

li a{
  color: lightgrey;
}

header{
  background-color: #080808;
}

img{
  height: 200px;
  width: 150px;
  border-radius: 50px;
}

/* button{
  border-radius: 20px;
} */

#project{
  margin-top: 5em;
}

hr{
 background-color: lightgray;
  width: 7%;
}

.card{
  background-color: #202C36;
  border-radius: 10px;
  
}


#client{
  background-color: #202C36;
  color: white;
}

.btn {
  color: green;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid green;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.btn:hover {
  color: white;
}

.btn::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: green;
  z-index: -1;
  transition: all 1s;
}

.btn:hover::before {
  width: 160%;
}




.button{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.button:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.button:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.button:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.button:active {
  transform: translate(2px ,2px);
}