#nav{
  background-color: #000000;
  color: white;
  justify-content: center
};

li a{
  color: lightgrey;
}

header{
  background-color: #080808;
}

img{
  height: 150px;
  width: 150px;
  border-radius: 50px;
}

#neww{
  background-color: #080808;
}

#project{
  margin-top: 4em;

}

hr{
 background-color: lightgray;
  width: 7%;
}

.card{
  background-color: #202C36;
  border-radius: 10px;
  
}


#client{
  background-color: #202C36;
  color: white;
}

.btn {
  color: green;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid green;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.btn:hover {
  color: white;
}

.btn::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: green;
  z-index: -1;
  transition: all 1s;
}

.btn:hover::before {
  width: 160%;
}

